/* General styles */
body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1a1a2e, #16213e); /* Galaxy gradient */
    color: #fff;
    overflow: hidden;
    height: 100dvh;
    touch-action: none;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif; /* Futuristic font */
    color: #e94560; /* Vibrant pink */
    text-shadow: 0 0 10px #e94560, 0 0 20px #e94560; /* Glow effect */
    justify-self: center;
}

.room-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    height: calc(100% - 235px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(167, 49, 251, 0.05);
    box-shadow: 0 0 10px rgba(233, 69, 96, 0.5) 
}
.room {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 130px;
    text-align: center;
    box-shadow: 0 0 10px rgba(233, 69, 96, 0.5); /* Glow effect */
    transition: transform 0.2s, box-shadow 0.2s;
}
.room h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.room p {
    font-size: 16px;
    margin-bottom: 10px;
}
.room button {
    width: 100%;
}

.room:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(233, 69, 96, 0.8); /* Glow effect */
}

.full { 
    background-color: lightcoral; 
}
button {
    background: linear-gradient(135deg, #e94560, #0f3460); /* Gradient button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s, box-shadow 0.2s;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #e94560, 0 0 20px #e94560; /* Glow effect */
}
button:disabled {
    background: #555;
    cursor: not-allowed;
    opacity: 0.7;
}
/* In-room */
#game-room {
    display: none;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 115px);
    width: 80%;
    max-width: 500px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgba(167, 49, 251, 0.05);
    box-shadow: 0 0 10px rgba(233, 69, 96, 0.5);
    overflow: auto;
}
#room-title {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.player-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.ready-and-exit-btns {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-evenly;
}
#ready-button, #exit-button {
    width: 49%;
}
.player {
    height: 26px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(233, 69, 96, 0.5); /* Glow effect */
}
#player-name {
    max-width: auto;
    font-weight: bold;
}

/* Media query for very small screens */
@media (max-width: 445px) {
    .name-and-play-container {
        display: flex;
        flex-direction: column; /* Stack vertically on small screens */
        align-items: center; /* Center items vertically */
        width: 90%;
    }
    .name-and-play-container button {
        width: 150px;
        margin-bottom: 15px;
    }
    #player-name {
        width: 70%;  /* Scale down to 90% of the container width */
        max-width: 90%;  /* Don't let them get too wide */
    }
  }

/* Name form */
#name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
}
#name-form h1 {
    font-size: clamp(20px, 6vw, 40px);
    margin-bottom: 20px;
    text-wrap: nowrap;
}
#name-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #e94560;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 300px;
    text-align: center;
    margin-bottom: 15px;
}
#name-form input::placeholder {
    color: #aaa;
}
.how-to-play-btn {
    margin-bottom: 15px;
    width: 150px;
    background: linear-gradient(135deg, #533c40, #152b46)
}
.leaderboard-btn {
    width: 150px;
    background: linear-gradient(135deg, #533c40, #152b46)
}
.first-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.1);
    width: 150px;
    height: 150px;
}
/* Lobby */
#lobby {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
}
#lobby h1 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
}
#create-room-btn {
    margin-top: 20px;
}

.player-ready {
    color: #4caf50; /* Green for ready */
}

.player-not-ready {
    color: #e94560; /* Pink for not ready */
}
.kick-button {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 46px;
    margin-right: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(233, 45, 60, 0.5);
    cursor: pointer;
}
.crown-display {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 46px;
    margin-right: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 252, 66, 0.2);
    cursor: pointer;
}
.blank-button {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 46px;
    margin-right: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.chosen-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 20px);
    width: 46px;
    margin-left: -10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(89, 89, 89, 0.2);
    cursor: pointer;
}
.player-name {
    margin-left: 10px;
    max-width: calc(100% - 155px);
    overflow: hidden;
}
#ready-state {
    position: absolute;
    right: 55px;
}
.character-selection {
    position: relative;
    margin: -3px 0px -3px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.arrow {
    position: absolute;
    top: 50%;
    width: 46px;
    height: 100%;
    background-color: rgba(89, 89, 89, 0.2);
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: transform 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.arrow:hover {
    transform: translateY(-50%) scale(1.2);
}
.left {
    left: 0px; 
}
.right {
    right: 0px; 
}
.character-container {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;
}
.character {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}
.character-image1, .character-image2, .character-image3 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.fade-out-left {
    transform: rotateY(-90deg);
    opacity: 0;
}
.fade-out-right {
    transform: rotateY(90deg);
    opacity: 0;
}
.fade-in {
    transform: translateX(0);
    opacity: 1;
}
.select-btn {
    position: absolute;
    bottom: 3px;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.1s;
}
.select-btn:hover {
    transform: scale(1.1);
}

/* Game screen */
#game-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
}
#game-screen h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}

#game-container {
    position: relative;
    width: 95%;
    height: 95%;
    background: rgba(184, 184, 184, 0.1);
    border: 2px solid #e94560;
    box-shadow: 0 0 10px #e94560;
    border-radius: 10px;
    overflow: hidden;
}
.room.in-progress {
    background-color: #ffcccb; /* Light red to indicate ongoing game */
    opacity: 0.7;
}

.room.in-progress button {
    background-color: #ccc; /* Gray out the join button */
    cursor: not-allowed; /* Show a "not allowed" cursor */
}

/* Game-over line */
#game-over-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e94560;
    bottom: 175px;
    left: 0;
    box-shadow: 0 0 10px #e94560;
    transition: background 0.2s ease, box-shadow 0.2s ease;
}

.health-bar {
    position: absolute;
    width: 100%;
    height: 11px;
    background: rgba(255, 0, 0, 0.5);
    bottom: 177px;
    left: 0;
    box-shadow: 0 0 10px #e94560; 
    transition: width 0.3s ease-in;
}

.shield-bar {
    position: absolute;
    width: 10%;
    height: 11px;
    background: rgba(0, 0, 255, 0.3);
    bottom: 192px;
    left: 0;
    box-shadow: 0 0 4px #0000ee; 
    transition: width 0.3s ease-in;
}

/* Player container */
#player-container {
    position: absolute;
    bottom: 40px; /* 10% from the bottom */
    width: 100%;
    display: flex;
    justify-content: space-around; /* Evenly space players */
    align-items: flex-end; /* Align players at the bottom */
    gap: 20px; /* Optional: Add some gap between players */
}

/* Player square */
.player-square {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* Word display above the player */
.word-display {
    position: absolute;
    bottom: 53px; /* Position above the player */
    margin-left: 25px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    box-shadow: 0 0 10px rgba(233, 69, 96, 0.5); /* Glow effect */
    max-width: 25%;
    word-wrap: break-word;
    transition: background-color 0.5s;
}

/* Name display below the player */
.name-display {
    position: absolute;
    bottom: -30px; /* Position above the player */
    margin-left: 25px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    box-shadow: 0 0 10px rgba(233, 69, 96, 0.5); /* Glow effect */
    max-width: 20%;
    word-wrap: break-word;
    max-height: 16px;
}
/* Input cd */
.input-cd {
    position: absolute;
    bottom: 130px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    font-size: 16px;
    width: 50%;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    pointer-events: none;
}

/* Alien word box */
.alien {
    user-select: none;
    font-size: 0.85rem;
    position: absolute;
    color: #fff;
    background-color: rgba(99, 99, 99, 0.5);
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: top 0.2s ease, left 0.2s ease;
}

/* Alien body box */
.alien-square {
    position: absolute;
    bottom: -50px;
    width: 45px;
    height: 45px;
    background: #8c45e9;
    border-radius: 10px;
    box-shadow: 0 0 10px #8c45e9; /* Glow effect */
}

#game-aliens-container {
    position: relative;
    width: 100%;
    height: calc(100% - 250px);
}

/* Input box */
#input-box {
    position: absolute;
    bottom: 130px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    font-size: 16px;
    width: 50%;
    max-width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: #fff;
    outline: none;
}
#input-box::placeholder {
    color: #aaa;
}

/* Game over screen */
#game-over-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    max-height: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.65);
    padding: 5px 15px 15px 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(233, 69, 96, 0.8); /* Glow effect */
}

#game-over-screen h2 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#countdown {
    max-width: 170px;
}


/* Star container */
.star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure stars are behind other elements */
}

/* Individual star */
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 3s infinite ease-in-out;
}

/* Twinkle animation */
@keyframes twinkle {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Laser beam */
.laser-beam {
    position: absolute;
    height: 2px;
    transform-origin: left;
    animation: fadeLaser 0.5s linear forwards;
}
.laser-color-Nulla {
    background: linear-gradient(to right, #ffffff, #ffffff, transparent);
}
.laser-color-Jacky {
    background: linear-gradient(to right, #ff00ff, #ff00ff, transparent);
}
.laser-color-Pewya {
    background: linear-gradient(to right, #0000ff, #0000ff, transparent);
}
.laser-color-Nutty {
    background: linear-gradient(to right, #00ff00, #00ff00, transparent);
}
.laser-color-Yoda {
    background: linear-gradient(to right, #ffff00, #ffff00, transparent);
}
.laser-color-Arthur {
    background: linear-gradient(to right, #ff9900, #ff9900, transparent);
}
.laser-color-Power {
    background: linear-gradient(to right, #ff0000, #ff0000, transparent);
}
.laser-color-Tuxedo {
    background: linear-gradient(to right, #000000, #000000, transparent);
}

.bg-color-Nulla {
    box-shadow: 0 0 2px #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-color-Jacky {
    box-shadow: 0 0 2px #ff00ff;
    background-color: rgba(255, 0, 255, 0.25);
}
.bg-color-Pewya {
    box-shadow: 0 0 2px #0000ff;
    background-color: rgba(0, 0, 255, 0.25);
}
.bg-color-Nutty {
    box-shadow: 0 0 2px #00ff00;
    background-color: rgba(0, 255, 0, 0.25);
}
.bg-color-Yoda {
    box-shadow: 0 0 2px #ffff00;
    background-color: rgba(255, 255, 0, 0.25);
}
.bg-color-Arthur {
    box-shadow: 0 0 2px #ff9900;
    background-color: rgba(255, 99, 0, 0.25);
}
.bg-color-Power {
    box-shadow: 0 0 2px #ff0000;
    background-color: rgba(255, 0, 0, 0.25);
}
.bg-color-Tuxedo {
    box-shadow: 0 0 2px #000000;
    background-color: rgba(0, 0, 0, 0.25);
}


.bg-color-Nulla1 {
    box-shadow: 0 0 6px #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-color-Jacky1 {
    box-shadow: 0 0 6px #ff00ff;
    background-color: rgba(255, 0, 255, 0.2);
}
.bg-color-Pewya1 {
    box-shadow: 0 0 6px #0000ff;
    background-color: rgba(0, 0, 255, 0.2);
}
.bg-color-Nutty1 {
    box-shadow: 0 0 6px #00ff00;
    background-color: rgba(0, 255, 0, 0.2);
}
.bg-color-Yoda1 {
    box-shadow: 0 0 6px #ffff00;
    background-color: rgba(255, 255, 0, 0.2);
}
.bg-color-Arthur1 {
    box-shadow: 0 0 6px #ff9900;
    background-color: rgba(255, 99, 0, 0.2);
}
.bg-color-Power1 {
    box-shadow: 0 0 6px #ff0000;
    background-color: rgba(255, 0, 0, 0.2);
}
.bg-color-Tuxedo1 {
    box-shadow: 0 0 6px #000000;
    background-color: rgba(0, 0, 0, 0.2);
}


.border-color-Nulla {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Glow effect */
}
.border-color-Jacky {
    border: 2px solid #ff00ff;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5); /* Glow effect */
}
.border-color-Pewya {
    border: 2px solid #0000ff;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Glow effect */
}
.border-color-Nutty {
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Glow effect */
}
.border-color-Yoda {
    border: 2px solid #ffff00;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Glow effect */
}
.border-color-Arthur {
    border: 2px solid #ff9900;
    box-shadow: 0 0 10px rgba(255, 99, 0, 0.5); /* Glow effect */
}
.border-color-Power {
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Glow effect */
}
.border-color-Tuxedo {
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Glow effect */
}



@keyframes fadeLaser {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Word display color feedback */
.word-display.correct {
    color: #00ff00; /* Green */
    transition: color 0.5s;
}

.word-display.incorrect {
    color: #ff0000; /* Red */
    transition: color 0.5s;
}
